    <div id="view-Avisos" class="view view-container view-private" data-view="Avisos">
      <h1 class="view-heading">Mural de Avisos</h1>
      <div class="card-float plain-card"><div id="lista-avisos"></div></div>
    </div>
